/*Styling informations:*/
ul.InformationList {
  list-style:             none;
  background:             #9cbc2c;
  margin:                 5px;
  -webkit-border-radius:  5px;
  border-radius:          5px;
}
ul.InformationList li {padding: 2px;}
ul.InformationList > li.selected {
  padding:        0px;
  background:     #b9cf6a;
  background:     rgba(255,255,255,.3);
  border-color:   #e3ebc3;
  border-style:   solid;
  border-width:   2px;
  border-radius:  5px;
}
div.Information {
  list-style:             none;
  background:             #9cbc2c;
  margin:                 5px;
  -webkit-border-radius:  5px;
  border-radius:          5px;
  padding:                5px;
}
div.Information > table {width: 100%;}
div.Information > table td {width: 50%;}

ul.RelationList {}
dl.RelationDescription {
  border-color:   #e3ebc3;
  border-style:   solid;
  border-width:   2px;
  border-radius:  5px;
}
dl.RelationDescription dt {
  float:        left;
  clear:        left;
  text-align:   left;
  font-weight:  bold;
  width:        100px;
}
dl.RelationDescription dt:after {content: ":";}

dl.InformationFootnotes dt {
  float:        left;
  clear:        left;
  text-align:   left;
  font-weight:  bold;
  width:        100px;
}
dl.InformationFootnotes dt:after {content: ":";}

div#RelationEditor div {
  margin-bottom:  5px;
  padding:        5px;
  background:     #b9cf6a;
  background:     rgba(255,255,255,.3);
  border-color:   #e3ebc3;
  border-style:   solid;
  border-width:   2px;
  border-radius:  5px;
}
div#RelationEditor form label {
  display:        block;
  margin-bottom:  5px;
}
