/* Copied from http://twitter.github.io/bootstrap/examples/fluid.html# : */
body {
  padding-top: 60px;
  padding-bottom: 40px;
}
.sidebar-nav {
  padding: 9px 0;
}
@media (max-width: 980px) {
  /* Enable use of floated navbar text */
  .navbar-text.pull-right {
    float: none;
    padding-left: 5px;
    padding-right: 5px;
  }
}
/* Own, additional stuff: */
  #LoginRegisterForm
, #SingleUserViewParent
, #UserViewParent
, #ArticleViewParent
, #SingleArticleViewParent
, .CollectedArticlesView
, #SingleArticleHistoryView
, #SingleArticleViewActionEdit
, #SingleArticleViewActionCollect
, #SingleArticleViewActionUncollect
, #CreateArticleView
, #DiscussionViewParent
, #SingleDiscussionViewParent
, #CreateDiscussionView {display: none;}
  #CreateArticleViewHeadline
, #CreateDiscussionViewHeadline {width: 100%;}
  #CreateArticleViewDescription
, #CreateArticleViewContent
, #CreateDiscussionViewDescription {width: 100%; resize: none;}
#DiscussionGraphView {
  margin: 0px;
  top:   25px;
  left:  25px;
}
#DiscussionGraphView form {margin: 0px;}
.paper {
  margin:  0px;
  padding: 0px;
  background-color: #333;
  overflow: hidden;
}
