#CreateTitle, #CreateDescription, #CreateContent {width: 100%;}
#CreateDescription, #CreateContent {resize: vertical;}
#CreatePreview {
  -webkit-box-sizing: border-box;
  -moz-box-sizing:    border-box;
  box-sizing:         border-box;
  padding: .5em;
  width: 100%;
}
#LogoutButton {
  position: absolute;
  right: 20px;
  top: 20px;
  display: none;
}
