/* Copied from http://twitter.github.io/bootstrap/examples/fluid.html# : */
body {
  padding-top: 60px;
  padding-bottom: 40px;
}
.sidebar-nav {
  padding: 9px 0;
}
@media (max-width: 980px) {
  /* Enable use of floated navbar text */
  .navbar-text.pull-right {
    float: none;
    padding-left: 5px;
    padding-right: 5px;
  }
}
/* Own, additional stuff: */
#LoginRegisterForm {display: none;}
#SingleUserViewParent {display: none;}
#UserViewParent {display: none;}
#ArticleViewParent {display: none;}
#SingleArticleViewParent {display: none;}
.CollectedArticlesView {display: none;}
#SingleArticleHistoryView {display: none;}
#SingleArticleViewActionEdit {display: none;}
#SingleArticleViewActionCollect {display: none;}
#SingleArticleViewActionUncollect {display: none;}
#CreateArticleView {display: none;}
#CreateArticleViewHeadline {width: 100%;}
#CreateArticleViewDescription {width: 100%; resize: none;}
#CreateArticleViewContent {width: 100%; resize: none;}
