html, body, form, fieldset, legend, ul, ol, li {
  margin:   0;
  padding:  0;
}
h1 {margin-top: 5px;}
h1,h2 {border-bottom: 1px solid black;}
body {
  background: #ffffff;
  color: #111111;
  font-family: Georgia, "Times New Roman", Times, serif;
}

