html, body, form, fieldset, legend, ul, ol, li {
  margin:   0;
  padding:  0;
}
h1 {margin-top: 5px;}
h1,h2 {border-bottom: 1px solid black;}
body {
  background: #ffffff;
  color: #111111;
  font-family: Georgia, "Times New Roman", Times, serif;
}

#menu {
  background:             #9cbc2c;
  list-style-type:        none;
  margin:                 5px;
  padding:                5px;
  -moz-border-radius:     5px;
  -webkit-border-radius:  5px;
  border-radius:          5px;
}
#menu li {
  background:             #b9cf6a;
  background:             rgba(255,255,255,.3);
  border-color:           #e3ebc3;
  border-color:           rgba(255,255,255,.6);
  border-style:           solid;
  border-width:           2px;
  display:                inline;
  font-family:            'Courier New', Courier, 'Nimbus Mono L', monospace;
  margin-right:           5px;
  -moz-border-radius:     5px;
  -webkit-border-radius:  5px;
  border-radius:          5px;
}

form#MarkdownEditor {
  background:             #9cbc2c;
  margin:                 5px;
  -moz-border-radius:     5px;
  -webkit-border-radius:  5px;
  border-radius:          5px;
  padding:                5px;
}
input#InformationTitle {width: 100%;}
textarea#InformationDescription {
  width:  100%;
  resize: vertical;
}
textarea#InformationContent {
  width:  100%;
  height: 150px;
  resize: vertical;
}
div#MarkdownPreview {
  border-color:           #e3ebc3;
  border-color:           rgba(255,255,255,.6);
  border-style:           solid;
  border-width:           2px;
  padding-left:           20px;
  -moz-border-radius:     5px;
  -webkit-border-radius:  5px;
  border-radius:          5px;
}
ul#EditorFooter {margin-top: 5px;}
ul#EditorFooter li {
  background:             #b9cf6a;
  background:             rgba(255,255,255,.3);
  border-color:           #e3ebc3;
  border-color:           rgba(255,255,255,.6);
  border-style:           solid;
  border-width:           2px;
  display:                inline;
  font-family:            'Courier New', Courier, 'Nimbus Mono L', monospace;
  margin-right:           5px;
  -moz-border-radius:     5px;
  -webkit-border-radius:  5px;
  border-radius:          5px;
}
