html, body, h1, form, fieldset, legend, ul, ol, li {
  margin:   0;
  padding:  0;
}

body {
  background: #ffffff;
  color: #111111;
  font-family: Georgia, "Times New Roman", Times, serif;
  padding: 20px;
}

ul.toolset {list-style: none;}
ul.toolset li {display: inline;}
ul.toolset img {width: 20px; height: 20px;}
