html, body, form, fieldset, legend, ul, ol, li {
  margin:   0;
  padding:  0;
}
h1 {margin-top: 5px;}
h1,h2 {border-bottom: 1px solid black;}
body {
  background: #ffffff;
  color: #111111;
  font-family: Georgia, "Times New Roman", Times, serif;
}

#menu {
  background:             #9cbc2c;
  list-style-type:        none;
  margin:                 5px;
  padding:                5px;
  -moz-border-radius:     5px;
  -webkit-border-radius:  5px;
  border-radius:          5px;
}
#menu li {
  background:             #b9cf6a;
  background:             rgba(255,255,255,.3);
  border-color:           #e3ebc3;
  border-color:           rgba(255,255,255,.6);
  border-style:           solid;
  border-width:           2px;
  display:                inline;
  font-family:            'Courier New', Courier, 'Nimbus Mono L', monospace;
  margin-right:           5px;
  -moz-border-radius:     5px;
  -webkit-border-radius:  5px;
  border-radius:          5px;
}

form#editor {
  background:             #9cbc2c;
  margin:                 5px;
  -moz-border-radius:     5px;
  -webkit-border-radius:  5px;
  border-radius:          5px;
  padding: 5px;
}
#editor section {margin-right: 5px;}
#editor #InformationTitle {width: 100%;}
#editor #InformationDescription {
  width:          100%;
  margin-bottom:  5px;
  resize:         none;
}
ul#EditorToolbar {list-style-type: none;}
ul#EditorFooter {list-style-type: none;}
#EditorToolbar li, #EditorFooter li {
  background:             #b9cf6a;
  background:             rgba(255,255,255,.3);
  border-color:           #e3ebc3;
  border-color:           rgba(255,255,255,.6);
  border-style:           solid;
  border-width:           2px;
  display:                inline;
  font-family:            'Courier New', Courier, 'Nimbus Mono L', monospace;
  margin-right:           5px;
  -moz-border-radius:     5px;
  -webkit-border-radius:  5px;
  border-radius:          5px;
}
div[data-wysihtml5-dialog] {
  position:               fixed;
  background:             #b9cf6a;
  border-color:           #e3ebc3;
  border-style:           solid;
  border-width:           2px;
  -moz-border-radius:     5px;
  -webkit-border-radius:  5px;
  border-radius:          5px;
  padding:                5px;
  margin-top:             5px;
}
div[data-wysihtml5-dialog] > label {display: block;}
textarea#wysihtml5-textarea {
  width:                  100%;
  height:                 200px;
  background:             transparent;
  resize:                 vertical;
  white-space:            pre;
  word-wrap:              normal;
  margin-top:             5px;
  margin-bottom:          5px;
  border-color:           #e3ebc3;
  border-color:           rgba(255,255,255,.6);
  border-style:           solid;
  border-width:           2px;
  -moz-border-radius:     5px;
  -webkit-border-radius:  5px;
  border-radius:          5px;
}
